.user {
    display: flex;
    width: 224px;
    margin-bottom: 31px;
    position: relative;
}

.userImage {
    width: 62px;
    height: 62px;
    margin-right: 17px;
}

.userImage img {
    border-radius: 1px;
}

.info a {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #1574af;
    border-bottom: 1px solid #1574af;
}

.city {
    margin-top: 5px;
    font-size: 11px;
}

.status {
    position: absolute;
    font-style: italic;
    font-size: 10px;
    color: #2f8a26;
    bottom: 2px;
}